<?xml version="1.0" ?>
<RadarMapRoot>
  <Looks>4</Looks>
  <AdditiveNoise mean="0.1" stdev="0.1" />
  <Modes>
    <Mode Id ="1" name="LRM">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>3.7</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>90</AzimuthalRadius>
      <PartialFrames>256</PartialFrames>
      <Projection>Decart</Projection>
      <TargetRender>Point</TargetRender>
    </Mode>
    <Mode Id ="2" name= "MRM">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>0.1406</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>40.5</AzimuthalRadius>
      <PartialFrames>18</PartialFrames>
      <Projection>Decart</Projection>
      <TargetRender>Geometry</TargetRender>
    </Mode>
    <Mode Id ="3" name="HRM1">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>0.06</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>27</AzimuthalRadius>
      <PartialFrames>12</PartialFrames>
      <Projection>Decart</Projection>
      <TargetRender>Geometry</TargetRender>
    </Mode>
    <Mode Id ="4" name="HRM2">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>0.03515</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>15.75</AzimuthalRadius>
      <PartialFrames>7</PartialFrames>
      <Projection>Decart</Projection>
      <TargetRender>Geometry</TargetRender>
    </Mode>
    <Mode Id ="5" name="SHRM">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>0.008</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>4</AzimuthalRadius>
      <PartialFrames>1</PartialFrames>
      <Projection>Decart</Projection>
      <TargetRender>Geometry</TargetRender>
    </Mode>
    <Mode Id ="6" name="SEA1">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>3.7</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>90</AzimuthalRadius>
      <PartialFrames>256</PartialFrames>
      <Projection>Polar</Projection>
      <TargetRender>Point</TargetRender>
    </Mode>
    <Mode Id ="7" name="SEA2">
      <Elements>
        <Azimuth>512</Azimuth>
        <Range>512</Range>
      </Elements>
      <Resolution>
        <Azimuth>0.0703</Azimuth>
        <Range>1.25</Range>
      </Resolution>
      <AzimuthalRadius>22.5</AzimuthalRadius>
      <PartialFrames>10</PartialFrames>
      <Projection>Decart</Projection>
      <TargetRender>Geometry</TargetRender>
    </Mode>
  </Modes>
</RadarMapRoot>
