<?xml version="1.0"?>
<VideoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Computers>
    <GeneratorComputer>
      <ComputerName>OLSTV-29K</ComputerName>
      <Description>Example of a generator computer</Description>
    </GeneratorComputer>
    <GeneratorComputer>
      <ComputerName>ARSENY-PC</ComputerName>
      <Description>Example of a generator computer</Description>
    </GeneratorComputer>
  </Computers>
  <Screens>
    <GeneratorScreen>
      <ScreenId>0</ScreenId>
      <DisplayNumber>2</DisplayNumber>
      <ComputerName>OLSTV-29K</ComputerName>
      <Description>First screen on OLSTV-29K</Description>
      <CaptureDeviceSettings>
        <Resolution>
          <Width>1920</Width>
          <Height>1080</Height>
        </Resolution>
        <AvgTimePerFrame>400000</AvgTimePerFrame>
        <BitRate>829440000</BitRate>
      </CaptureDeviceSettings>
    </GeneratorScreen>
    <GeneratorScreen>
      <ScreenId>1</ScreenId>
      <DisplayNumber>2</DisplayNumber>
      <ComputerName>ARSENY-PC</ComputerName>
      <Description>Second screen on OLSTV-29K</Description>
      <CaptureDeviceSettings>
        <Resolution>
          <Width>1920</Width>
          <Height>1080</Height>
        </Resolution>
        <AvgTimePerFrame>400000</AvgTimePerFrame>
        <BitRate>829440000</BitRate>
      </CaptureDeviceSettings>
    </GeneratorScreen>
  </Screens>
  <Regions>
    <VideoRegion>
      <RegionId>0</RegionId>
      <Description>First region on the first screen on OLSTV-29K, for TV</Description>
      <ScreenId>0</ScreenId>
      <Grayscale>true</Grayscale>
      <Left>0</Left>
      <Top>0</Top>
      <Width>640</Width>
      <Height>480</Height>
      <SupportedSources>
        <string>TV1</string>
        <string>TV2</string>
        <string>TV3</string>
        <string>TV4</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>1</RegionId>
      <Description>Second region on the first screen on OLSTV-29K, for TV</Description>
      <ScreenId>0</ScreenId>
      <Grayscale>true</Grayscale>
      <Left>0</Left>
      <Top>480</Top>
      <Width>640</Width>
      <Height>480</Height>
      <SupportedSources>
        <string>TV1</string>
        <string>TV2</string>
        <string>TV3</string>
        <string>TV4</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>2</RegionId>
      <Description>Thrid region on the first screen on OLSTV-29K, for Camera only</Description>
      <ScreenId>0</ScreenId>
      <Grayscale>false</Grayscale>
      <Left>640</Left>
      <Top>480</Top>
      <Width>640</Width>
      <Height>480</Height>
      <SupportedSources>
        <string>Camera</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>3</RegionId>
      <Description>Fourth region on the first screen on OLSTV-29K, for OLS</Description>
      <ScreenId>0</ScreenId>
      <Grayscale>true</Grayscale>
      <Left>1280</Left>
      <Top>0</Top>
      <Width>640</Width>
      <Height>480</Height>
      <SupportedSources>
        <string>OLS_Mono</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>4</RegionId>
      <Description>Fifth region on the first screen on OLSTV-29K, for OLS_Zoom</Description>
      <ScreenId>0</ScreenId>
      <Grayscale>true</Grayscale>
      <Left>1280</Left>
      <Top>480</Top>
      <Width>640</Width>
      <Height>480</Height>
      <SupportedSources>
        <string>OLS_Zoom</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>5</RegionId>
      <Description>First region on ARSENY-PC, for OLS_IR</Description>
      <ScreenId>1</ScreenId>
      <Grayscale>true</Grayscale>
      <Left>0</Left>
      <Top>600</Top>
      <Width>640</Width>
      <Height>480</Height>
      <SupportedSources>
        <string>OLS_IR</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>6</RegionId>
      <Description>First region on ARSENY-PC, for RL</Description>
      <ScreenId>1</ScreenId>
      <Grayscale>true</Grayscale>
      <Left>0</Left>
      <Top>0</Top>
      <Width>592</Width>
      <Height>592</Height>
      <SupportedSources>
        <string>RLMap</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>7</RegionId>
      <Description>2DMap for MFD#1 region on ARSENY-PC</Description>
      <ScreenId>1</ScreenId>
      <Grayscale>false</Grayscale>
      <Left>600</Left>
      <Top>0</Top>
      <Width>384</Width>
      <Height>512</Height>
      <SupportedSources>
        <string>MFD2DMap1</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>8</RegionId>
      <Description>2DMap for MFD#2 region on ARSENY-PC</Description>
      <ScreenId>1</ScreenId>
      <Grayscale>false</Grayscale>
      <Left>990</Left>
      <Top>0</Top>
      <Width>384</Width>
      <Height>512</Height>
      <SupportedSources>
        <string>MFD2DMap2</string>
      </SupportedSources>
    </VideoRegion>
    <VideoRegion>
      <RegionId>9</RegionId>
      <Description>2DMap for MFD#3 region on ARSENY-PC</Description>
      <ScreenId>1</ScreenId>
      <Grayscale>false</Grayscale>
      <Left>1380</Left>
      <Top>0</Top>
      <Width>384</Width>
      <Height>512</Height>
      <SupportedSources>
        <string>MFD2DMap3</string>
      </SupportedSources>
    </VideoRegion>
  </Regions>
</VideoConfig>